.root {
    padding: 2rem;
}

.goBackBtn {
    border: 0;
    outline: none;
    background-color: #0984e3;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.goBackBtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}